@using AGEERP.Models
@{
    ViewBag.Title = "Cash Payment Posting";
}

<div class="card">
    <div class="content-header">
        <div class="card-header">
            <h3 class="card-title">Cash Receive Posting</h3>
            <div class="card-tools">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Account">Account</a></li>
                    <li class="breadcrumb-item active">Cash Receive Posting</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-4">
            @Html.Label("Location")
            @(Html.Kendo()
                .MultiColumnComboBox()
                .Name("Loc")
                .Placeholder("Select Locations ...")
                .DataValueField("LocId")
                .DataTextField("LocName")
                //.SelectedIndex(0)
                .Columns(columns =>
                {
                    columns.Add().Field("LocCode").Width("100px");
                    columns.Add().Field("LocName").Width("200px");
                })
                .FilterFields(new string[] { "LocCode", "LocName" })
                .Filter(FilterType.Contains)
                .DataSource(ds =>
                {
                    ds.Read(read => read.Action("LocationList", "Setup"));
                })
                .HtmlAttributes(new { @style = "width:100%" })
            )
        </div>
        <div class="col-md-3 col-sm-4">
            @Html.Label("Working Date")
            @Html.Kendo().DatePicker().Name("Working").Value(ViewBag.WorkingDate).HtmlAttributes(new { @style = "width:100%" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6" style="text-align:right">
        </div>
        <div class="col-md-3 col-sm-3" style="text-align:right">
            @*<br />*@
            <button class="k-button margin-10" onclick="loadGrid()">Load Vouchers</button>
        </div>
        <div class="col-md-3 col-sm-3" style="text-align:right">
            @*<br />*@

            <button class="k-button margin-10" onclick="SaveDoc()">Post Vouchers</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            @(Html.Kendo()
        .Grid<CashReceiveVM>()
        .Name("gridExpense")
        .Columns(columns =>
        {
            columns.Select().Width(50);
            //columns.Bound(c => c.TransId).HtmlAttributes(new { onclick = "ViewDoc(#:TransId#)" });
            columns.ForeignKey(c => c.LocId, (System.Collections.IEnumerable)ViewData["LocVD"], "LocId", "LocCode").Title("Location").Width(100);
            columns.ForeignKey(c => c.AccId, (System.Collections.IEnumerable)ViewData["AccVD"], "Id", "Name").Title("Account");
            columns.Bound(c => c.Description);
            columns.Bound(c => c.Amount).Format("{0:n0}").ClientFooterTemplate("Total: #=sum#").Width(100);
            columns.ForeignKey(c => c.CCCode, (System.Collections.IEnumerable)ViewData["CCVD"], "CCCode", "CCDesc").Title("Cost Center");
            columns.Command(c => { c.Custom("Doc").Click("ViewDoc"); c.Edit().Visible("isVis"); c.Destroy().Visible("isVis"); }).Width(150);
        })
        //.Pageable()
        .Sortable()
        .PersistSelection()
        .Scrollable()
        //.ToolBar(t => { t.Create(); })
        .Editable(e => e.Mode(GridEditMode.PopUp).TemplateName("_CRV"))
        .HtmlAttributes(new { style = "height:400px;font-size:12px;" })
        .AutoBind(false)
        .Events(e => e.DataBound("setColor").Edit("SetValue"))
        .DataSource(dataSource => dataSource
        .Ajax()

        //.PageSize(20)
        .Events(e => e.Error("error_handler"))
        .ServerOperation(false)
        .Aggregates(aggregates =>
        {
            aggregates.Add(p => p.Amount).Sum();
        })
        .Model(model =>
        {
            model.Id(m => m.TransId);
            model.Field(m => m.AccId);
        })
        .Read(read => read.Action("CashReceiveVoucherPosting_Read", "Account").Data("masterData"))
        .Update(update => update.Action("CashReceiveVoucherPosting_Update", "Account"))
        .Destroy(destroy => destroy.Action("CashReceiveVoucherPosting_Destroy", "Account"))
        ))
        </div>

    </div>
</div>

<style>
    .vouc {
        color: #008000 !important;
    }
</style>
<script type="text/javascript">
    var gridElement = $("#gridExpense");
    $(document).ready(function () {
        resizeGrid();
        //$('#m_10000000').addClass('active');
        //$('#d_10000000').css("display", "block");
        //$('#m_10050000').addClass('active');
        //$('#a_10050000').addClass('active');
    });
    function ViewDoc(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.open("/Document/EDocumentManager?id=" + dataItem.TransId + "&refobjid=8", "print_popup");
    }
    //function ViewDoc(e) {
    //    window.open("/Document/EDocumentManager?id=" + e + "&refobjid=6","print_popup",)
    //}
    function setColor(e) {
        var rows = e.sender.tbody.children();
        for (var j = 0; j < rows.length; j++) {
            var row = $(rows[j]);
            var dataItem = e.sender.dataItem(row);
            var isPost = dataItem.get("IsPosted");
            if (isPost == true) {
                row.addClass("vouc");
            }
        }
    }
    function SetValue(e) {
        e.model.dirty = true;
    }

    function filterSubsidaryCode() {
        return {
            PId: $('#AccId').data("kendoMultiColumnComboBox").value(),
            str: $('#SubId').data("kendoMultiColumnComboBox").input.val() || ""
        }
    }
    function loadGrid() {
        $("#gridExpense").data("kendoGrid").dataSource.read();
    }
    function isVis(e) {
        return !e.IsPosted;
    }
    //function loadLoc() {
    //    $('#LocId').data('kendoMultiColumnComboBox').dataSource.read();
    //}
    function masterData() {
        return {
            Loc: $('#Loc').val() || 0,
            Working: $('#Working').val() || 0
        }
    }

    function resizeGrid() {
        var height = $(window).innerHeight() - $('header').innerHeight() - 180;
        if (height < 200) {
            height = 200;
        }
        else if (height > 910) {
            height = 910;
        }
        $("#gridExpense").css("height", height);
        gridElement.data("kendoGrid").resize();
    }

    $(window).resize(function () {
        resizeGrid();
    });
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            var dia = $("#msgBox").data("kendoDialog");
            dia.title("Error");
            dia.content(message);
            dia.open();
        }
    }
    function filterCity() {
        return {
            CityId: $('#CityId').val() || 0
        }
    }
    function SaveDoc() {
        if (confirm("Are you sure?")) {
            var TransLst = $('#gridExpense').data('kendoGrid').selectedKeyNames();
            var dat = { "TransLst": TransLst };

            if (TransLst.length > 0) {
                $.ajax({
                    url: '/Account/CashReceiveVoucherPosting',
                    type: 'POST',
                    data: JSON.stringify(dat),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data == true) {
                            var dia = $("#msgBox").data("kendoDialog");
                            dia.title("Success");
                            dia.content("Save Successfully");
                            dia.open();
                            loadGrid();
                        }
                        else {
                            var dia = $("#msgBox").data("kendoDialog");
                            dia.title("Error");
                            dia.content("Not Save Successfully");
                            dia.open();
                        }
                    },
                    error: function () {
                        var dia = $("#msgBox").data("kendoDialog");
                        dia.title("Error");
                        dia.content("Not Save Successfully");
                        dia.open();
                    }
                });
            }
            else {
                var dia = $("#msgBox").data("kendoDialog");
                dia.title("Validation");
                dia.content("Please select Locations");
                dia.open();
            }
        }
    }
</script>
