
@{
    ViewBag.Title = "Implementation";
}
<style>
    .margin-15 {
        margin-top: 15px;
    }
</style>
@using (Html.BeginForm("Implementation", "Report", FormMethod.Post, new { target = "_blank", id="frm" }))
{
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="content-header">
            <div class="card-header">
                <h3 class="card-title">Implementation Report</h3>
                <div class="card-tools">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Report</a></li>
                        <li class="breadcrumb-item active">Implementation Report</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="row">
                <div class="col-4">
                    @Html.Label("City")
                    @(Html.Kendo()
                    .DropDownList()
                    .Name("CityId")
                    .OptionLabel("Select City")
                    //.SelectedIndex(0)
                    .DataValueField("CityId")
                    .DataTextField("City")
                    .Events(e =>
                    {
                        e.Change("cityChange");
                    })
                    .Filter(FilterType.Contains)
                    .DataSource(ds =>
                    {
                        ds.Read(read => read.Action("CityList", "Setup"));
                    })
                    .HtmlAttributes(new { @style = "width:100%", required="required", validationmessage = "City is Required" })
                    )
                    <span class="k-invalid-msg" data-for="CityId"></span>
                </div>
                <div class="col-4">
                    @Html.Label("Location")
                    @(Html.Kendo()
                    .MultiColumnComboBox()
                    .Name("LocId")
                    .Placeholder("All Locations ...")
                    .DataValueField("LocId")
                    .DataTextField("LocName")
                    .Columns(columns =>
                    {
                        columns.Add().Field("LocCode").Width("100px");
                        columns.Add().Field("LocName").Width("200px");
                    })
                    .FilterFields(new string[] { "LocCode", "LocName" })
                    .Filter(FilterType.Contains)
                    .CascadeFrom("CityId")
                    .DataSource(ds =>
                    {
                        ds.Read(read => read.Action("LocationByCityList", "Setup").Data("GetLocations"));
                    })
                    .HtmlAttributes(new { @style = "width:100%" })
                    )
                </div>

                <div class="col-md-3">
                    <br />
                    <button class="k-button margin-15" type="submit">
                        <i class="fas fa-print"></i>&nbsp; Show
                    </button>
                </div>
            </div>
        </div>
    </div>

}
<script>
    function GetLocations() {
        return {
            CityId: $('#CityId').val() || 0
        }
    }
    function cityChange() {
        $("#LocId").data("kendoMultiColumnComboBox").dataSource.read();
    }
    $(function () {
        var validator = $("#frm").kendoValidator().data("kendoValidator");
        $("form").submit(function (event) {
        });
    });
</script>