
@{
    ViewBag.Title = "Monthly Salary Sheet";
}
<div class="card">
    <div class="content-header">
        <div class="card-header">
            <h3 class="card-title">Monthly Salary Sheet</h3>
            <div class="card-tools">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Salary</a></li>
                    <li class="breadcrumb-item active">Monthly Salary</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-xs-12">
        @using (Html.BeginForm("MonthlySalarySheet", "Report", FormMethod.Post, new { target = "_blank" }))
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-md-3">
                    @Html.Label("Month")
                    @Html.Kendo().DatePicker().Name("Month").Depth(CalendarView.Year).Start(CalendarView.Year).Events(ev => ev.Change("onChange")).HtmlAttributes(new { @style = "width:100%" })
                </div>
                <div class="col-md-3">
                    @Html.Label("Head Deparment")
                    @(Html.Kendo()
                                                             .DropDownList()
                                                             .Name("HDeptId")
                                                             //.OptionLabel("Select Head Department ...")
                                                             .SelectedIndex(0)
                                                             .DataValueField("HDeptId")
                                                             .DataTextField("HDeptName")
                                                             //.Suggest(true)
                                                             //.Filter(FilterType.Contains)
                                                             .DataSource(x => x.Read("HDepartmentList", "Employee"))
                                                             .HtmlAttributes(new { @style = "width:100%" })
                    )
                </div>
                <div class="col-md-3">
                    @Html.Label("Department")
                    @(Html.Kendo()
                                                                    .ComboBox()
                                                                    .Name("DeptId")
                                                                    .Placeholder("All Department ...")
                                                                    //.SelectedIndex(0)
                                                                    .DataValueField("DeptId")
                                                                    .DataTextField("Department")
                                                                    .Filter(FilterType.Contains)
                                                                    .CascadeFrom("HDeptId")
                                                                    .DataSource(ds =>
                                                                    {
                                                                        ds.Read(read => read.Action("DeptByHDeptList", "Employee").Data("filterDept")).ServerFiltering(true);
                                                                    })
                                                                    .HtmlAttributes(new { @style = "width:100%" })
                    )
                </div>
                @*<div class="col-md-3">
                        @Html.Label("Department")
                        @(Html.Kendo()
                                                                        .DropDownList()
                                                                        .Name("DeptId")
                                                                        //.OptionLabel("All Department ...")
                                                                        .DataValueField("DeptId")
                                                                        .DataTextField("Department")
                                                                        .Filter(FilterType.Contains)
                                                                        .DataSource(ds =>
                                                                        {
                                                                            ds.Read(read => read.Action("GetDeptList", "Employee"));
                                                                        })
                                                                        .HtmlAttributes(new { @style = "width:100%", @class = "validate" })
                        )
                    </div>*@
            </div>
            <div class="row">
                <div class="col-md-3">
                    <br />
                    <button class="k-button margin-10" type="submit">
                        <i class="fas fa-print"></i> Show
                    </button>
                </div>
            </div>
        }
    </div>
</div>


<script>
    $(document).ready(function () {
        //$('#m_17000000').addClass('active');
        //$('#d_17000000').css("display", "block");
        //$('#m_17040000').addClass('active');
        //$('#d_17040000').css("display", "block");
        //$('#m_17040200').addClass('active');
        //$('#a_17040200').addClass('active');
    });
    function filterDept() {
        return {
            HDeptId: $('#HDeptId').val() || 0,
            str: $('#DeptId').data("kendoComboBox").input.val() || ""
        }
    }

      var lastday = function (y, m) {
            return new Date(y, m + 1, 0).getDate();
        }
         function onChange(e) {
            var date = this.value();
            date = new Date(date.getFullYear(), date.getMonth(), lastday(date.getFullYear(), date.getMonth()));
            this.value(date);  
        }
</script>
