
@{
    ViewBag.Title = "MTR";
}
<div class="card">
    <div class="content-header">
        <div class="card-header">
            <h3 class="card-title">MTR Report</h3>
            <div class="card-tools">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Procurement">Reports</a></li>
                    <li class="breadcrumb-item active">MTR Report</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("MTR", "Report", FormMethod.Post, new { target = "_blank" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-3">
                    @Html.Label("From Date")
                    @Html.Kendo().DatePicker().Name("FromDate").Value(DateTime.Now.Date).HtmlAttributes(new { @style = "width:100%" })
                </div>
                <div class="col-3">
                    @Html.Label("To Date")
                    @Html.Kendo().DatePicker().Name("ToDate").Value(DateTime.Now.Date).HtmlAttributes(new { @style = "width:100%" })
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    @Html.Label("City")
                    @(Html.Kendo()
                    .DropDownList()
                    .Name("CityId")
                    //.Placeholder("Select City ...")
                    //.SelectedIndex(0)
                    .OptionLabel("All")
                    .DataValueField("CityId")
                    .DataTextField("City")
                    .Filter(FilterType.Contains)
                    //.Suggest(true)
                    .DataSource(ds =>
                    {
                    ds.Read(read => read.Action("CityList", "Setup"));
                    })
                    .HtmlAttributes(new { @style = "width:100%" })
                    )
                </div>
                <div class="col-3">
                    @Html.Label("Location")
                    @(Html.Kendo()
                    .MultiColumnComboBox()
                    .Name("LocId")
                    .Placeholder("All Locations ...")
                    .DataValueField("LocId")
                    .DataTextField("LocName")
                    .Columns(columns =>
                    {
                        columns.Add().Field("LocCode").Width("100px");
                        columns.Add().Field("LocName").Width("200px");
                    })
                    .FilterFields(new string[] { "LocCode", "LocName" })
                    .Filter(FilterType.Contains)
                    .CascadeFrom("CityId")
                    .DataSource(ds =>
                    {
                        ds.Read(read => read.Action("LocationByCityList", "Setup").Data("filterCity"));
                    })
                    .HtmlAttributes(new { @style = "width:100%" })
                    )

                </div>
                <div class="col-md-3 col-sm-3">
                    @Html.Label("Status")
                    @(Html.Kendo()
                    .DropDownList()
                    .Name("Status")
                    .SelectedIndex(0)
                    .BindTo(new List<SelectListItem>()
                    {
                        new SelectListItem{Text = "All",Value = ""},
                        new SelectListItem{Text = "Pending",Value = "O"},
                        new SelectListItem{Text = "Approved",Value = "A"},
                        new SelectListItem{Text = "Complete",Value = "C"},
                        new SelectListItem{Text = "Revoked",Value = "R"}
                    })
                    .HtmlAttributes(new { @style = "width:100%"})
                    )
                </div>
                <div class="col-3">
                    <br />
                    <button class="k-button k-primary" type="submit">
                        <i class="fas fa-print"></i>&nbsp; Print
                    </button>
                </div>
            </div>
        }
    </div>
</div>
<script>

    function filterCity() {
        return {
            CityId: $('#CityId').val() || 0
        }
    }

</script>