@{
    ViewBag.Title = "Supplier GL";
}
@using (Html.BeginForm("SupplierGL", "Report", FormMethod.Post, new { target = "_blank", id = "frm" }))
{
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="content-header">
            <div class="card-header">
                <h3 class="card-title">Supplier General Ledger</h3>
                <div class="card-tools">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Report</a></li>
                        <li class="breadcrumb-item active">Supplier General Ledger</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    @Html.Label("Fiscal Year")
                    @(Html.Kendo()
                .DropDownList()
                .Name("YrCode")
                .SelectedIndex(0)
                .DataValueField("YrCode")
                .DataTextField("YrName")
                //.Suggest(true)
                //.Filter(FilterType.Contains)
                .DataSource(ds =>
                {
                    ds.Read(read => read.Action("FinancialYearList", "Account"));
                })
                .HtmlAttributes(new { @style = "width:100%" })
                        )
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    @Html.Label("From Date")
                    @Html.Kendo().DatePicker().Name("FromDate").Value(DateTime.Now.Date).HtmlAttributes(new { @style = "width:100%", @required = true })
                </div>
                <div class="col-md-3 col-sm-3">
                    @Html.Label("To Date")
                    @Html.Kendo().DatePicker().Name("ToDate").Value(DateTime.Now.Date).HtmlAttributes(new { @style = "width:100%", @required = true })
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    @Html.Label("A/C")
                    @(Html.Kendo()
                        .MultiColumnComboBox()
                        .Name("Code")
                        .Placeholder("Select COA ...")
                        //.SelectedIndex(0)
                        .DataValueField("Id")
                        .DataTextField("Name")
                        .Columns(columns =>
                        {
                            columns.Add().Field("Code").Width("150px");
                            columns.Add().Field("Name").Width("350px");
                        })
                        //.Suggest(true)
                        //.Filter(FilterType.Contains)
                        //.FilterFields(new string[] { "Code", "Name" })
                        //.MinLength(3)
                        //.Events(e => e.Change("loadGrid"))
                        //.AutoBind(false)
                        .BindTo(ViewBag.COA4)
                        //.DataSource(ds =>
                        //{
                        //    ds.Read(read => read.Action("SubCodeList", "Account").Data("filterSubCode"))
                        //    .ServerFiltering(true);
                        //})
                        //.IgnoreCase(true)
                        .HtmlAttributes(new { @style = "width:100%;", @required = true })
                        )
                </div>
                <div class="col-md-3 col-sm-3">
                    @Html.Label("Subsidiary")
                    @(Html.Kendo()
                        .MultiColumnComboBox()
                        .Name("SubId")
                        .Placeholder("Select COA ...")
                        //.SelectedIndex(0)
                        .DataValueField("Id")
                        .DataTextField("Name")
                        .Columns(columns =>
                        {
                            columns.Add().Field("Code").Width("150px");
                            columns.Add().Field("Name").Width("300px");
                        })
                        //.Suggest(true)
                        .Filter(FilterType.Contains)
                        .FilterFields(new string[] { "Code", "Name" })
                        //.MinLength(3)
                        .CascadeFrom("Code")
                        //.Events(e => e.Change("loadGrid"))
                        .AutoBind(false)
                        //.BindTo(ViewBag.COA4)
                        .DataSource(ds =>
                        {
                            ds.Read(read => read.Action("SubsidaryCodeList", "Account").Data("filterSubsidaryCode")).ServerFiltering(true);
                        })
                        .IgnoreCase(true)
                        .HtmlAttributes(new { @style = "width:100%" })
                        )
                </div>
                <div class="col-md-3 col-sm-3">
                    <br />
                    <button class="k-button k-primary" type="submit">
                        <i class="fas fa-print"></i> Show
                    </button>
                </div>
            </div>
            <div class="row">


            </div>
        </div>
    </div>
}
<script>
            $(document).ready(function () {
                //$('#m_17000000').addClass('active');
                //$('#d_17000000').css("display", "block");
                //$('#m_17030000').addClass('active');
                //$('#d_17030000').css("display", "block");
                //$('#m_17030100').addClass('active');
                //$('#a_17030100').addClass('active');
            });
    function loadGrid() {
        $('#SubId').data("kendoMultiColumnComboBox").dataSource.read();
    }
            //function filterSubCode() {
            //    return {
            //        str: $('#Code').data("kendoMultiColumnComboBox").input.val() || ""
            //    }
            //}
            function filterSubsidaryCode() {
                return {
                    PId: $('#Code').data("kendoMultiColumnComboBox").value(),
                    str: $('#SubId').data("kendoMultiColumnComboBox").input.val() || ""
                }
            }
            //$("#frm").on("submit", function () {
            //    var sub = $('#SubId').data('kendoMultiColumnComboBox').dataItem();
            //    $('#SubsidiaryCode').val(sub.Code);
            //});
</script>
