@{
    ViewBag.Title = "TargetIncentive";
}
@using (Html.BeginForm("TargetIncentive", "Report", FormMethod.Post, new { target = "_blank" }))
{
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="content-header">
            <div class="card-header">
                <h3 class="card-title">Target Incentive Report</h3>
                <div class="card-tools">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Reports</a></li>
                        <li class="breadcrumb-item active">Target Incentive Report</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="row">

                <div class="col-md-4">
                    @Html.Label("Month")
                    @Html.Kendo().DatePicker().Name("Month").Depth(CalendarView.Year).Start(CalendarView.Year).Events(ev => ev.Change("onChange")).HtmlAttributes(new { @style = "width:100%" })
                </div>

                <div class="col-md-4 col-sm-4">
                    @Html.Label("City")
                    @(Html.Kendo()
                    .DropDownList()
                    .Name("CityId")
                    .OptionLabel("All")
                    .DataValueField("CityId")
                    .DataTextField("City")
                    .Filter(FilterType.Contains)
                    .DataSource(ds =>
                    {
                    ds.Read(read => read.Action("CityList", "Setup"));
                    })
                    .HtmlAttributes(new { @style = "width:100%" })
                    )
                </div>



                <div class="col-md-3">
                    <br />
                    <button class="k-button margin-10" type="submit">
                        <i class="fas fa-print"></i>&nbsp; Show
                    </button>
                </div>
            </div>
            <br />
        </div>
    </div>
}
<script>
    function filterCity() {
        return {
            CityId: $('#CityId').val() || 0
        }
    }

    function onChange(e) {
        var date = this.value();
        date = new Date(date.getFullYear(), date.getMonth(), lastday(date.getFullYear(), date.getMonth()));
        this.value(date);
    }
</script>

