
@{
    ViewBag.Title = "DocTransfer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<div class="card">
    <div class="content-header">
        <div class="card-header">
            <h3 class="card-title">Doc Transfer</h3>
            <div class="card-tools">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Setup</a></li>
                    <li class="breadcrumb-item active">Doc Transfer</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="card-body">
        @using (Ajax.BeginForm("DocTransfer", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSave" }, new { @Id = "frm" }))
        {
            @Html.ValidationSummary()
            <div class="col">
                <div class="row">
                    <div class="col-md-3">
                        @Html.Label("WorkingDate")
                        @(Html.Kendo().DatePicker()
                        .Name("WorkingDate")
                        .Value(ViewBag.WorkingDate)
                        .HtmlAttributes(new { @style = "width:100%", @readonly = true }))
                    </div>
                    <div class="col-md-3">
                        @Html.Label("From Location")
                        @(Html.Kendo()
                        .MultiColumnComboBox()
                    .Name("FromLocId")
                    .Placeholder("Select Locations ...")
                    .DataValueField("LocId")
                    .DataTextField("LocName")
                    .SelectedIndex(0)
                    .Columns(columns =>
                    {
                        columns.Add().Field("LocCode").Width("100px");
                        columns.Add().Field("LocName").Width("200px");
                    })
                    .FilterFields(new string[] { "LocCode", "LocName" })
                    .Filter(FilterType.Contains)
                        .DataSource(ds =>
                        {
                        ds.Read(read => read.Action("LocationList", "Setup"));
                        })
                        .HtmlAttributes(new { @style = "width:100%" })
                        )
                    </div>
                    <div class="col-md-3">
                        @Html.Label("To Location")
                        @(Html.Kendo()
                        .DropDownList()
                        .Name("ToLocId")
                        //.Placeholder("Select Locations ...")
                        .OptionLabel("Select Location")
                        .DataValueField("LocId")
                        .DataTextField("LocName")
                        //.Suggest(true)
                        .Filter(FilterType.Contains)
                        .DataSource(ds =>
                        {
                        ds.Read(read => read.Action("LocationListAll", "Setup"));
                        })
                        .HtmlAttributes(new { @style = "width:100%" })
                        )
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        @Html.Label("Title")
                        @(Html.Kendo().TextBox()
                        .Name("Title")
                        .HtmlAttributes(new { @style = "width:100%" ,@value="" }))
                    </div>
                    <div class="col-md-6">
                        @Html.Label("Remarks")
                        @Html.Kendo().TextBox().Name("Remarks").HtmlAttributes(new { @style = "width:100%" })
                    </div>
                    <div class="col-md-3 col-sm-4">
                        @Html.Label("Documents")
                        @(Html.Kendo().Upload()
                        .Name("files")
                        .Multiple(true)
                        .Async(a => a
                            .Save("UploadDocBulk", "Document", new { refobjid = 19 })
                            .Remove("DocumentRemove", "Document")
                            .SaveField("files")
                            .AutoUpload(false)
                            //.Concurrent(true)
                            .Batch(true)
                        ).Events(e => e
                        .Success("onDocUp")
                        .Remove("onUploadRemove")
                        //.Remove("OnRemove")
                        )
                        )
                    </div>
                    <div class="col-md-3">
                        <br />
                        <input type="hidden" name="UploadedFiles" id="UploadedFiles" />
                        <button class="k-button margin-10" type="button" onclick="SaveDoc()">
                            <i class="fas fa-plus "></i>&nbsp; Save
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        //$('#m_19000000').addClass('active');
        //$('#d_19000000').css("display", "block");
        //$('#m_19030000').addClass('active');
        //$('#a_19030000').addClass('active');
    });
    function onDocUp(e) {
        for (var i = 0; i < e.response.length; i++) {
            e.files[i].id = e.response[i];
            //console.log(e);
        }
    }
    function onUploadRemove(e) {
        var files = e.files;
        var docid = 0;
        for (i = 0; i < files.length; i++) {
            docid = files[i].id;
        }

        return {
            DocId: docid
        }
    }
    function SaveDoc() {
        var upload = $("#files").data("kendoUpload");
        var files = upload.getFiles();
        var fl = [];
        console.log(files);
        for (var i = 0; i < files.length; i++) {
            fl.push(files[i].id);
        }
        $('#UploadedFiles').val(fl);

        if (confirm("Are you sure that you want to proceed?")) {
            kendo.ui.progress($('.card'), true);
            $('#frm').submit();
        }
    }
    function OnSave(result) {
        kendo.ui.progress($('.card'), false);
        var dia = $("#msgBox").data("kendoDialog");
        if (result.TransId > 0) {
            //dia.title("Msg");
            //dia.content("Save Successfully");
            //dia.open();
            //$('#TransferedCash').data('kendoNumericTextBox').value(0);
            //$('#Remarks').val("");
            //$('#ToLocId').val("");
            //$.confirm({
            //    title: 'Saved Successfully!',
            //    content: 'Do you want to print?',
            //    type: 'red',
            //    typeAnimated: true,
            //    icon: 'fas fa-check',
            //    buttons: {
            //        Print: function () {
            //            $("#rpt").val("CashTransferSlip");
            //            $("#TransId").val(result.TransId);
            //            $("#rptForm").submit();
            //        },
            //        Cancel: function () {
            //        }
            //    }
            //});

            dia.title("Msg");
            dia.content("Save Successfully");
            dia.open();
            var upload = $("#files").data("kendoUpload");
            upload.clearAllFiles();
        }
        else {
       
            dia.title("Error");
            dia.content("Not Save Successfully");
            dia.open();
        }
    }
              
</script>


