@model AGEERP.Models.ChangePasswordVM
@{
    ViewBag.Title = "ChangePassword";
}
<style>
    .short {
        color: red;
    }
    .weak {
        color: orange;
    }
    .good {
        color: yellowgreen;
    }
    .strong {
        color: green;
    }
</style>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <div class="card">
        <div class="content-header">
            <div class="card-header">
                <h3 class="card-title">Change Password</h3>
                <div class="card-tools">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Home/Index">Security</a></li>
                        <li class="breadcrumb-item active">Change Password</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    @using (Ajax.BeginForm("ChangePassword", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSave" }, new { @Id = "frm" }))
                    {

                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary()
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                @Html.Label("Current Password")
                                @(Html.Kendo().TextBoxFor(x => x.CurrentPassword).HtmlAttributes(new
                                    {
                                        @style = "width:100%",
                                        @maxlength = "50",
                                        @minlength = "6",
                                        required = "true",
    @type = "password"
    }))
                                @Html.ValidationMessageFor(x => x.CurrentPassword)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                @Html.Label("New Password")
                                @(Html.Kendo().TextBoxFor(x => x.NewPassword).HtmlAttributes(new
                            {
                                @style = "width:100%",
                                @maxlength = "50",
                                minlength = "6",
                                required = "true",
                                @type = "password",
                                @id = "NewPassword"
                            }))<span id="strength_message" style="font:bold;font-size:large"></span>
                                @Html.ValidationMessageFor(x => x.NewPassword)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                @Html.Label("Confirm Password")
                                @(Html.Kendo().TextBoxFor(x => x.ChangePassword).HtmlAttributes(new
                                    {
                                        @style = "width:100%",
                                        @maxlength = "50",
                                        minlength = "6",
                                        @type = "password"
                                    }))
                                @Html.ValidationMessageFor(x => x.ChangePassword)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <input type="button" class="btn btn-success" onclick="SaveDoc()" value="Update" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
<script>
    var validator = $("#frm").kendoValidator().data("kendoValidator");
    function SaveDoc() {
        var stre = $('#strength_message').text();
        if (stre == "Good" || stre == 'Strong') {
            if (validator.validate()) {
                $.confirm({
                    title: 'Confirmation',
                    content: 'Are you sure that you want to proceed?',
                    buttons: {
                        confirm: function () {
                            $('#frm').submit();
                            kendo.ui.progress($('.card'), true);
                        },
                        cancel: function () {
                        }
                    }
                });
            }
        }
        else {
            alert('Your password is ' + stre);
        }
    }
    function OnSave(result) {
        kendo.ui.progress($('.card'), false);
        var dia = $("#msgBox").data("kendoDialog");
        if (result == "Save Successfully") {
            dia.title("Success");
            dia.content("Save Successfully");
            dia.open();
        }
        else {
            dia.title("Error");
            dia.content(result);
            dia.open();
        }
    }

    $(document).ready(function () {
        $('#NewPassword').keyup(function () {
            $('#strength_message').html(checkStrength($('#NewPassword').val()))
        })
        function checkStrength(password) {
            var strength = 0
            if (password.length < 6) {
                $('#strength_message').removeClass()
                $('#strength_message').addClass('short')
                return 'Too short'
            }

            if (password.length > 7) strength += 1
            if (password.match(/([a-z].*[A-Z])|([A-Z].*[a-z])/)) strength += 1
            if (password.match(/([a-zA-Z])/) && password.match(/([0-9])/)) strength += 1
            if (password.match(/([!,%,&,@@,#,$,^,*,?,_,~])/)) strength += 1
            if (password.match(/(.*[!,%,&,@@,#,$,^,*,?,_,~].*[!,%,&,@@,#,$,^,*,?,_,~])/)) strength += 1
            if (strength < 2) {
                $('#strength_message').removeClass()
                $('#strength_message').addClass('weak')
                return 'Weak'
            }
            else if (strength == 2) {
                $('#strength_message').removeClass()
                $('#strength_message').addClass('good')
                return 'Good'
            }
            else {
                $('#strength_message').removeClass()
                $('#strength_message').addClass('strong')
                return 'Strong'
            }
        }
    });
</script>